<div class="container">
    <div *ngFor="let product of cart.products">
        <div class="image">
            <img [src]="product.image.imageUrl" alt="">
        </div>
        <h2>Nombre: {{product.description.name}}</h2>
        <p>Cantidad: {{product.quantity}}</p>
        <p>Total: ${{product.price}}</p>
        <p>Subtotal: {{product.displaySubTotal}}</p>
    </div>
    <div class="totalProducts">
        <h5>Cantidad de productos: {{cart.quantity}}</h5>
        <h4>Total: {{cart.displayTotal}}</h4>
        <h3>Subtotal: {{cart.displaySubTotal}}</h3>
    </div>
</div>