<div class="container">
    <div class="products-flex-container">
        <div class="products" *ngFor="let product of cart.products">
            <div class="image">
                <img [src]="product.image.imageUrl" alt="">
            </div>
            <div class="productsText">
                <h2>{{product.description.name}}</h2>
                <div>Cantidad: {{product.quantity}}</div>
                <div>Total: ${{product.price}}</div>
                <div>Subtotal: {{product.displaySubTotal}}</div>
                <i class="bi bi-x-lg" id="botonEliminar"></i>
            </div>
        </div>
    </div>
    <div class="flexTotalProducts">
        <div class="totalProducts">
            <h2>Cantidad de productos: {{cart.quantity}}</h2>
            <h2>Total: {{cart.displayTotal}}</h2>
            <h2>Subtotal: {{cart.displaySubTotal}}</h2>
            <button class="btn btn-primary">Realizar Pago</button>
        </div>
    </div>
</div>