.thumbnail {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.totalProducts {
    margin-top: 30px;
}

.img{
    

}