<div class="container">


    <div class="carousel">
        <ngb-carousel *ngIf="productDetail.images.length > 0">
            <ng-template *ngFor="let image of productDetail.images" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="image.imageUrl" [alt]="image.imageName">
                </div>

            </ng-template>
        </ngb-carousel>
    </div>
    <div class="detail">
        <h1>{{ productDetail.description.name }}</h1>
        <p>{{ productDetail.description.description }}</p>
        <p>{{productDetail.price}}$</p>
        <select name="quantity" id="" [(ngModel)]="selectedQuantity">
            <option [value]="quantity" *ngFor="let quantity of quantities">
                {{quantity}}
            </option>
        </select>
        <input type="submit" id="ams-btn-primary" class="btn btn-primary" value="Agregar al carrito"
            (click)="addToCart(productDetail.id, selectedQuantity)">
    </div>
</div>