.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.detail {
    text-align: center;
    margin: 15px;
    display: inline-block;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.detail h1 {
    border-bottom: 2px solid black;
}

img {
    max-height: 400px;
    max-width: 400px;
    margin-top: 20px;

}