.cartContainer {
    display: flex;
}

p {
    text-align: right;
    color: black;
    margin-left: 5px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    height: 15px;
    width: 15px;
    margin-left: -2px;

}

i {
    color: aliceblue;
    margin-left: 5px;
}