<div class="hero">
    <div class="container">
        <h1>LA TIENDA DE LA NEXI</h1>
    </div>
</div>

<div class="container">
    <div>
        <h2>Novedades</h2>
        <img src="../../assets/images/26c2d7481fff468ddf7990dad706d6e3.jpg" alt="">
        <img src="../../assets/images/2c1ddabd8049647962c8095a7fc7f079.jpg" alt="">
        <img src="../../assets/images/descarga.jfif" alt="">
    </div>
</div>

<footer>
    <div class="footerHome">
        <p>Copyright &copy; 2022 - <a href="">Aviso Legal</a> - <a href="">Cookies</a></p>
    </div>
</footer>