.list-categories {
    display: flex;
    justify-content: center;
    background-color: var(--color-principal);
}

.list-categories a {
    text-decoration: none;
    color: var(---color-font-tittle);
}

.categories {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.content-a {
    margin: 4px 0px;
    margin-right: 8px;
    border: 1px solid;
    padding: 5px;
    font-family: noto-sans;
}

.content-a:hover {
    background-color: var(--color-principal);
    transition: 1s;
    color: rgba(57, 31, 31, 0.608);
}